.features-home {

  &__container {
    background-color: #F4F6FC;
    padding: 128px 0;
  }

  &__wrapper {

    &__head {
      max-width: 630px;
      width: 100%;
      text-align: center;
      margin: 0 auto 47px;

      &__text {
        font-weight: 500;
        color: #282938;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 12px;
      }

      &__title {
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        color: #282938;
      }
    }

    .features-home {

      &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        width: 100%;
        justify-content: space-between;
      }

      &__item {
        position: relative;
        max-width: 405px;
        width: 100%;
        background-color: #fff;
        padding: 48px 33px 48px 48px;

        &::before {
          content: "";
          position: absolute;
          top: 48px;
          left: 48px;
          display: inline-block;
          width: 35px;
          height: 35px;
          background-repeat: no-repeat;
          background-position: center;
        }

        &:nth-child(1)::before {
          background-image: url("./../../../assets/images/home-page-features-section-card-icon-1.svg");
        }

        &:nth-child(2)::before {
          background-image: url("./../../../assets/images/home-page-features-section-card-icon-2.svg");
        }

        &:nth-child(3)::before {
          background-image: url("./../../../assets/images/home-page-features-section-card-icon-3.svg");
        }

        &:nth-child(4)::before {
          background-image: url("./../../../assets/images/home-page-features-section-card-icon-4.svg");
        }

        &:nth-child(5)::before {
          background-image: url("./../../../assets/images/home-page-features-section-card-icon-5.svg");
        }

        &:nth-child(6)::before {
          background-image: url("./../../../assets/images/home-page-features-section-card-icon-6.svg");
        }

        &__title{
          font-weight: 400;
          font-size: 24px;
          line-height: 36px;
          color: #282938;
          margin-bottom: 12px;
          margin-top: 60px;
        }

        &__text{
          font-weight: 400;
          font-size: 16px;
          line-height: 28px;
          color: #282938;
        }
      }
    }
  }
}