.hero-blog {

  &__wrapper {
    padding: 128px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__box {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      max-width: 950px;
      width: 100%;
      margin-bottom: 32px;

      &__title {
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        margin-bottom: 16px;
        color: #282938;
      }

      &__comment {
        width: 360px;
        display: flex;
        gap: 6px;

        &__text {
          font-weight: 500;
          font-size: 16px;
          line-height: 28px;
          color: #282938;
        }
      }
    }

    &__img {
      width: 100%;
      margin-bottom: 48px;
    }

    &__block {
      max-width: 831px;
      width: 100%;

      &__desc {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 16px;
        color: rgba(40, 41, 56, .7);
      }

      &__link {
        color: rgba(36, 5, 242, .7);
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        text-decoration: none;
      }
    }
  }
}